/* app css stylesheet */

body {
  padding-top: 1px;padding-left:10px; padding-right:10px; 
}

h1 {
  border-bottom: 1px solid gray;
}

hr {
  border-bottom: 1px solid gray;
}

input.ng-invalid.ng-dirty, input.ng-invalid.ng-invalid {
      background-color: yellow;
    }

#AUTO_HIDE_MSG{
	position: absolute;
	width:300px;
	height:150px;
	top:50%;
	left:50%;
	padding:10px;
	margin-left:-150px;
	margin-top:-75px;

	background-color:#666666;
	color:#FFFFFF;

	text-align:center;
	font-size: 3em;
	
	display:none;
}

.msg {
  color:red;
	font-size: 36;
}

input[disabled]
{

  color: #CCCCCC;
  
}

.to_top {
	float: left;             
    margin: 1px 10px 10px 20px;   /*  上 右 下 左  */
    padding: 0px 5px 5px 15px;
    border: 1px solid silver;
           
    box-shadow: 0px 0px 1px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;

    top:1;/*最上*/             
    color: #3E3E3E;
    left: 0;
    position: fixed;
    text-align: left;
    
    z-index: 10000;
    overflow:visible;
}










