/* app css stylesheet */

body {
  padding-top: 10px;padding-left:10px; padding-right:10px; 
}



h1 {
  border-bottom: 1px solid gray;
}

hr {
  border-bottom: 1px solid gray;
}

#AUTO_HIDE_MSG{
	position: absolute;
	width:300px;
	height:150px;
	top:50%;
	left:50%;
	padding:10px;
	margin-left:-150px;
	margin-top:-75px;

	background-color:#666666;
	color:#FFFFFF;

	text-align:center;
	font-size: 3em;
	
	display:none;
}

.msg {
	font-size: 36;
}

input[disabled]
{

  color: #CCCCCC;
  
}