<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title>福润堂 预约</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <style type="text/css">
    
  </style>
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
  <script type="text/javascript" src="js/frt_master.js"></script>
</head>
<body ng-app="ngApp" ng-controller="Ctrl" >
  <div>{{debug_msg}}</div>
  <h1>福润堂 <a href="index.html" style="float:right">导航页</a></h1> 
  <h2>患者信息修改</h2>

  <br>
    病历号: <input  type="text"  style="width:60px" ng-model="patient_no"    />  &nbsp;&nbsp;
    姓名: <input  type="text"   style="width:60px"  ng-model="patient_name" /> &nbsp;&nbsp;
    联系电话: <input  type="text"   style="width:100px"  ng-model="mobile" /> &nbsp;&nbsp;
    备注: <input  type="text"   style="width:120px"  ng-model="remark" /> &nbsp;&nbsp;
    特别备注: <input  type="text"   style="width:120px"  ng-model="remark2" /> &nbsp;&nbsp;
    <input type="button" value="查找患者"  ng-click="load_patient()"  /><hr>
  <div class='to_top'   >
  <h3>
    <br>
    病历号:     <input  type="text"   ng-model="fields.patient_no"  required  /> 
    <br/>
    姓名: &nbsp;&nbsp;&nbsp;&nbsp;<input  type="text"  ng-model="fields.patient_name" required/>
     
    <br/>
    性别: &nbsp;&nbsp;&nbsp;&nbsp;<input  type="text"   ng-model="fields.sex"   required/> 
    <br/>
    年龄: &nbsp;&nbsp;&nbsp;&nbsp;<input  type="text"   ng-model="fields.age"   required/>
    <br/>
    电话: &nbsp;&nbsp;&nbsp;&nbsp;<input type="tel"  ng-model="fields.mobile" ng-pattern="/[0-9]/" required />
    <br/>
    备注: &nbsp;&nbsp;&nbsp;&nbsp;<input type="tel"  ng-model="fields.remark"   />
    <br/>
    特别备注: &nbsp;&nbsp;<input type="tel"  ng-model="fields.remark2" style="width:185px"  />
    <br/>  <br/>       
    <input type="button" value=" 保存 "  ng-click="save_patient()"  /> 
    </h3>
  
  </div>

  <table border="1" style="float:right;" width="60%">
    <tr><th></th><th>病历号</th><th>姓名</th>
    <th>性别</th><th>年龄</th><th>电话</th><th>备注</th><th>特别备注</th><th></th></tr>

    <tr ng-repeat="obj in customers">
      <td>&nbsp; {{$index+1}} &nbsp; </td>
      <td>&nbsp; {{obj.patient_no}} &nbsp; </td>
      <td>&nbsp; {{obj.patient_name}} &nbsp; </td>
      <td>&nbsp; {{obj.sex}} &nbsp; </td>
      <td>&nbsp; {{obj.age}} &nbsp; </td>
      <td>&nbsp; {{obj.mobile}} &nbsp; </td>
      <td>&nbsp; {{obj.remark}} &nbsp; </td>
      <td>&nbsp; {{obj.remark2}} &nbsp; </td>
      <td><input type="button" value="修改" ng-click="go_edit($index)"></td>
    </tr>
  </table>

  <script type="text/javascript">
  
  var inputApp = angular.module('ngApp', []);

  function Ctrl($scope, $http) {

    
    $scope.init = function(){
      $scope.fields = {};
      $scope.customers = [];
      $scope.patient_no = "";
      $scope.patient_name = "";
      $scope.mobile = "";
      
      $scope.clear();
    };

    $scope.clear = function(){
      $scope.fields.patient_id = "";
      $scope.fields.patient_no = "";
      $scope.fields.patient_name = "";
      $scope.fields.mobile = "";
      $scope.fields.age = "";
      $scope.fields.sex = "";
      $scope.fields.remark = "";
      $scope.fields.remark2 = "";
    };

    $scope.clear2 = function(){
      $scope.customers = [];
      $scope.clear();
    };

    $scope.init();
    
    $scope.go_edit = function( index ) {
      var obj = $scope.customers[index];
      $scope.fields.patient_id = obj.id;
      $scope.fields.patient_no = obj.patient_no;
      $scope.fields.patient_name = obj.patient_name;
      $scope.fields.mobile = obj.mobile;
      $scope.fields.age = obj.age;
      $scope.fields.sex = obj.sex;
      $scope.fields.remark = obj.remark;
      $scope.fields.remark2 = obj.remark2;
      //$scope.$apply();
    };

    $scope.load_patient = function(){
      //console.log("start load");
      // 构造查询语句
      var condition1 = "";
      //console.log($scope.fields.patient_name);
      if( ! isblank($scope.patient_name)  ){
        condition1 = " AND patient_name like '%" + $scope.patient_name + "%' ";
      }

      var condition2 = "";
      //console.log($scope.fields.patient_no);
      if( ! isblank($scope.patient_no)  ){
        condition2 = " AND patient_no='" + $scope.patient_no + "' ";
      }

      var condition3 = "";
      if( ! isblank($scope.mobile)  ){
        condition3 = " AND mobile like '%" + $scope.mobile + "%' ";
      }

      var condition4 = "";
      if( ! isblank($scope.remark)  ){
        condition4 = " AND remark like '%" + $scope.remark + "%' ";
      }

      var condition5 = "";
      if( ! isblank($scope.remark2)  ){
        condition5 = " AND remark2 like '%" + $scope.remark2 + "%' ";
      }

      $scope.clear2();
      
      var conn = getConn();
      conn.connect();
      var sql_str = "SELECT * from t_customer where 1=1 " + condition1 + condition2 + condition3 + condition4 + condition5
                    + " ORDER BY patient_no DESC limit 50";
      
      conn.query( sql_str, 
        function(err, rows, fields) {
        if (err) {
          console.log( err );
        }else{
          //console.log( rows );
          if( rows.length >0 ){

            for(var i in rows ){
              $scope.customers.push(rows[i]);
            }
            //console.log($scope.customers);

            $scope.go_edit(0);
            $scope.$apply();
          }else{
            console.log( rows );
            $scope.clear();
            show_err_msg("这个姓名在数据库中不存在。");
          }
        }
      });
      conn.end();

      //$scope.debug_msg = sql_str;
    };
    
    $scope.save_patient = function() {

      // 检查必选项，如果为空，不予保存
      if(isblank($scope.fields.patient_name) || isblank($scope.fields.patient_no)){
        alert("病历号和姓名不能为空。");
        return false;
      }

      // 保存患者数据
      var strSql2 = "UPDATE t_customer SET  "  +
             "patient_name='"+ $scope.fields.patient_name +
             "', mobile='"+ $scope.fields.mobile +
             "', sex='"+ $scope.fields.sex +
             "', age='"+ $scope.fields.age +
             "', remark='"+ $scope.fields.remark +
             "', remark2='"+ $scope.fields.remark2 +"' " +
             "  WHERE id='"+ $scope.fields.patient_id +"'" ;
      var conn = getConn();
      conn.connect();
      conn.query( strSql2, 
        function(err, rows, fields) {
        if (err) {
          console.log( strSql2 );
          console.log( err );
          show_err_msg("程序出错");
        }else{
          show_msg("保 存 成 功");
          
        }
      });
      conn.end();
    };
      
  }

  debug_flag = 0;

  </script>
  </body>
  </html>





















